{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block page %} Home {% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}



{% block content %}
{% if current_user.is_authenticated %}
       
<div class="row">
    <div class="col m2 list-container collection" style="max-height: 84vh; overflow-y:scroll;" >
        
        <html>
            <head>
              <title>Places Search Box</title>
              <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
          
              <link rel="stylesheet" type="text/css" href="./style.css" />
              <script type="module" src="./index.js"></script>
            </head>
            <body>
              <input
                id="pac-input"
                class="controls"
                type="text"
                placeholder="Search Box"
              />
              <div id="map"></div>
          
              <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initAutocomplete&libraries=places&v=weekly"
                defer
              ></script>
            </body>
          </html>
        

{% endblock %}